.height-0 {
  height: 0;
}
.height-28 {
  height: 28px;
}
.height-30 {
  height: 30px;
}
.height-40 {
  height: 40px;
}
.height-60 {
  height: 60px;
}
.height-120 {
  height: 120px;
}
.height-100- {
  height: 100%;
}
.width-28 {
  width: 28px;
}
.width-30 {
  width: 30px;
}
.width-40 {
  width: 40px;
}
.width-60 {
  width: 60px;
}
.width-120 {
  width: 120px;
}
.width-percent-100 {
  width: 100%;
}
.pd-l-5 {
  padding-left: 5px;
}
.pd-l-10 {
  padding-left: 10px;
}
.pd-l-12 {
  padding-left: 12px;
}
.pd-l-15 {
  padding-left: 15px;
}
.pd-l-20 {
  padding-left: 20px;
}
.pd-l-40 {
  padding-left: 40px;
}
.pd-l-60 {
  padding-left: 60px;
}
.pd-l-rem--1 {
  padding-left: 1rem;
}
.pd-r-5 {
  padding-right: 5px;
}
.pd-r-10 {
  padding-right: 10px;
}
.pd-r-12 {
  padding-right: 12px;
}
.pd-r-15 {
  padding-right: 15px;
}
.pd-r-20 {
  padding-right: 20px;
}
.pd-r-rem--1 {
  padding-right: 1rem;
}
.pd-t-0 {
  padding-top: 0 !important;
}
.pd-t-5 {
  padding-top: 5px;
}
.pd-t-10 {
  padding-top: 10px;
}
.pd-t-12 {
  padding-top: 12px;
}
.pd-t-15 {
  padding-top: 15px;
}
.pd-t-20 {
  padding-top: 20px;
}
.pd-t-60 {
  padding-top: 60px;
}
.pd-t-120 {
  padding-top: 120px;
}
.pd-t-180 {
  padding-top: 180px;
}
.pd-t-rem---5 {
  padding-top: 0.5rem;
}
.pd-t-rem--1 {
  padding-top: 1rem;
}
.pd-b-5 {
  padding-bottom: 5px;
}
.pd-b-10 {
  padding-bottom: 10px;
}
.pd-b-12 {
  padding-bottom: 12px;
}
.pd-b-15 {
  padding-bottom: 15px;
}
.pd-b-20 {
  padding-bottom: 20px;
}
.pd-b-rem---5 {
  padding-bottom: 0.5rem;
}
.pd-b-rem--1 {
  padding-bottom: 1rem;
}
.pd-0 {
  padding: 0;
}
.pd--1 {
  padding: 1rem;
}
.pd-20 {
  padding: 20px;
}
.mg-l-5 {
  margin-left: 5px;
}
.mg-l-10 {
  margin-left: 10px;
}
.mg-l-12 {
  margin-left: 12px;
}
.mg-l-15 {
  margin-left: 15px;
}
.mg-l-20 {
  margin-left: 20px;
}
.mg-l-rem-1 {
  margin-left: 1rem;
}
.mg-l-rem-2 {
  margin-left: 2rem;
}
.mg-r-5 {
  margin-right: 5px;
}
.mg-r-10 {
  margin-right: 10px;
}
.mg-r-12 {
  margin-right: 12px;
}
.mg-r-15 {
  margin-right: 15px;
}
.mg-r-20 {
  margin-right: 20px;
}
.mg-r-rem-1 {
  margin-right: 1rem;
}
.mg-r-rem-2 {
  margin-right: 2rem;
}
.mg-t-5 {
  margin-top: 5px;
}
.mg-t-10 {
  margin-top: 10px;
}
.mg-t-12 {
  margin-top: 12px;
}
.mg-t-15 {
  margin-top: 15px;
}
.mg-t-20 {
  margin-top: 20px;
}
.mg-t-180 {
  margin-top: 180px;
}
.mg-b-5 {
  margin-bottom: 5px;
}
.mg-b-10 {
  margin-bottom: 10px;
}
.mg-b-12 {
  margin-bottom: 12px;
}
.mg-b-15 {
  margin-bottom: 15px;
}
.mg-b-20 {
  margin-bottom: 20px;
}
.mg-b-rem-2 {
  margin-bottom: 2rem;
}
.mg-0 {
  margin: 0;
}
.mg-20 {
  margin: 20px;
}
.display-none {
  display: none;
}
.hidden,
.display-hidden {
  display: none;
}
.display-b {
  display: block;
}
.display-ib {
  display: inline-block;
}
.display-flex {
  display: flex;
  align-items: center;
}
.display-flex.item-start {
  justify-content: flex-start;
}
.display-flex.item-end {
  justify-content: flex-end;
}
.display-flex.item-center {
  justify-content: center;
}
.display-flex.item-space-between {
  justify-content: space-between;
}
.display-flex.item-wrap {
  flex-wrap: wrap;
}
.display-flex.direction-column {
  flex-direction: column;
}
.display-flex .grow-0 {
  flex-grow: 0;
}
.display-flex .grow-1 {
  flex-grow: 1;
}
.display-flex .shrink-0 {
  flex-shrink: 0;
}
.display-flex .shrink-1 {
  flex-shrink: 1;
}
.display-flex.flex-end {
  justify-content: flex-end;
}
.display-flex .flex-end {
  align-self: flex-end;
}
.display-flex .flex-start {
  align-self: flex-start;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.sticky {
  position: -webkit-sticky;
  position: sticky;
}
.static {
  position: static !important;
}
.top-0 {
  top: 0;
}
.top-10 {
  top: 10px;
}
.top-rem--1 {
  top: 1rem;
}
.top-rem--1-5 {
  top: 1.5rem;
}
.top--120 {
  top: -120px;
}
.left-0 {
  left: 0;
}
.left-10 {
  left: 10px;
}
.right-0 {
  right: 0;
}
.right-10 {
  right: 10px;
}
.bottom-0 {
  bottom: 0;
}
.bottom-10 {
  bottom: 10px;
}
.color-white {
  color: #fff;
}
.color-red {
  color: #f00;
}
.color-blue-1 {
  color: #00aaf2;
}
.color-blue-2 {
  color: #3f87a6;
}
.color-yellow-2 {
  color: #f69d3c;
}
.color-black-1 {
  color: #595959;
}
.color-black-2 {
  color: #a6a6a6;
}
.color-black-3 {
  color: #999;
}
.font-bold {
  font-weight: bold;
}
.font--75 {
  font-size: 0.75rem;
}
.font-1 {
  font-size: 1rem;
}
.font-1-25 {
  font-size: 1.25rem;
}
.font-1-5 {
  font-size: 1.5rem;
}
.font-2 {
  font-size: 2rem;
}
.bg-transparent {
  background: transparent;
}
.bg-white {
  background: #fff;
}
.bg-line-type1 {
  background: linear-gradient(0.25turn, rgba(63,135,166,0.5), #ebf8e1, rgba(246,157,60,0.5));
}
.bg-line-type2 {
  background-image: linear-gradient(135deg, rgba(19,176,223,0.26) 0%, rgba(19,176,223,0.26) 23%, rgba(16,160,197,0.26) 23%, rgba(16,160,197,0.26) 65%, rgba(13,144,172,0.26) 65%, rgba(13,144,172,0.26) 70%, rgba(9,129,146,0.26) 70%, rgba(9,129,146,0.26) 74%, rgba(6,113,121,0.26) 74%, rgba(6,113,121,0.26) 90%, rgba(3,97,95,0.26) 90%, rgba(3,97,95,0.26) 100%), linear-gradient(45deg, rgba(65,234,230,0.26) 0%, rgba(65,234,230,0.26) 28%, rgba(88,192,215,0.26) 28%, rgba(88,192,215,0.26) 55%, rgba(110,150,201,0.26) 55%, rgba(110,150,201,0.26) 66%, rgba(133,107,186,0.26) 66%, rgba(133,107,186,0.26) 80%, rgba(155,65,172,0.26) 80%, rgba(155,65,172,0.26) 85%, rgba(178,23,157,0.26) 85%, rgba(178,23,157,0.26) 100%), linear-gradient(90deg, #1bc2f6 0%, #1bc2f6 6%, #27aeed 6%, #27aeed 32%, #329be5 32%, #329be5 40%, #3e87dc 40%, #3e87dc 66%, #4a74d3 66%, #4a74d3 72%, #5660ca 72%, #5660ca 86%, #614dc2 86%, #614dc2 96%, #6d39b9 96%, #6d39b9 100%);
}
.bg-line-type3 {
  background-image: repeating-linear-gradient(135deg, rgba(181,181,181,0.09) 0px, rgba(181,181,181,0.09) 1px, transparent 1px, transparent 11px), repeating-linear-gradient(45deg, rgba(181,181,181,0.09) 0px, rgba(181,181,181,0.09) 1px, transparent 1px, transparent 11px), linear-gradient(90deg, #fff, #fff);
}
.bg-white--3 {
  background: rgba(255,255,255,0.3);
}
.bg-white--5 {
  background: rgba(255,255,255,0.5);
}
.bg-white--8 {
  background: rgba(255,255,255,0.8);
}
.bg-gray-type1 {
  background: #e6e6e6;
}
.opacity {
  opacity: 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.overflow-hidden {
  overflow: hidden;
}
.nowrap {
  white-space: nowrap;
}
.transition-a-2 {
  transition: all 0.2s;
}
.min-vh-100 {
  min-height: 100vh;
}
.max-w-mian-size {
  max-width: 105rem;
}
.margin-center {
  margin: 0 auto;
}
.cursor-pointer {
  cursor: pointer;
}
.z-index-2 {
  z-index: 2;
}
.z-index-99 {
  z-index: 99;
}
.border-bottom-blue-1 {
  border-bottom: 1px solid #00aaf2;
}
.align {
  text-align: center;
}
.hover-bg-gray1:hover {
  background: #eee;
}
html {
  font-size: 16px;
}
body {
  background-color: #f2f2f2;
  line-height: 1.5;
  color: #595959;
  font-family: -apple-system, BlinkMacSystemFont, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
}
article img {
  max-width: 100%;
}
figure.highlight.plain {
  overflow: auto;
}
header {
  color: #fff;
  box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.2);
  transition: height 0.2s;
}
header .header-thumbtack {
  right: 0;
  top: 0;
  border-left-width: 1.5rem;
  border-bottom-width: 1.2rem;
  border-style: solid;
  border-color: #fff;
  border-top: none;
  border-right: none;
  background: #fff;
  border-bottom-left-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-width 0.2s, border-bottom-left-radius 0.2s;
}
header .header-thumbtack.active {
  color: #00aaf2;
}
header .header-thumbtack:hover {
  border-color: #00aaf2;
  color: #fff;
}
header .header-thumbtack:hover .fa-thumbtack {
  transform: rotate(45deg);
}
header .header-thumbtack .fa-thumbtack {
  right: 4px;
  top: 4px;
  font-size: 0.8rem;
  transition: all 0.2s;
}
header nav ul.menu>li {
  display: inline-block;
  position: relative;
}
header nav ul.menu>li .nav-a {
  color: rgba(255,255,255,0.8);
  font-size: 1rem;
  padding: 0 1rem;
  text-decoration: none;
  transition: color 0.2s;
  word-break: normal;
}
header nav ul.menu>li .nav-a::before {
  content: '';
  width: 0;
  border-bottom: 2px solid #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  transition: width 0.2s;
}
header nav ul.menu>li.active .nav-a {
  color: #fff;
  font-weight: bold;
}
header nav ul.menu>li.active .nav-a::before {
  width: 100%;
}
header nav ul.menu>li:hover .nav-a {
  color: #fff;
}
header nav ul.menu>li:hover .nav-a::before {
  width: 100%;
}
header .logo {
  background-image: url("/images/blog-LOGO.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: width 0.2s, height 0.2s, border-radius 0.2s;
}
header .logo-svg-span {
  border-radius: 10px;
  box-shadow: 6px 6px 4px 0px rgba(0,0,0,0.3);
  overflow: hidden;
  max-height: 100px;
}
header .logo-svg-span .logo-svg-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 12px;
  font-family: fantasy;
  background-image: linear-gradient(145deg, #000 20%, #fff 60%, #000 20%);
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(1);
  opacity: 1;
  transition: all 1.2s;
  cursor: default;
}
header .logo-text {
  text-decoration: none;
  font-style: italic;
  font-size: 0.8rem;
  font-weight: bold;
  font-family: Microsoft Yahei;
  text-shadow: 5px 4px 4px rgba(255,255,255,0.6);
}
header .nav-show-bar {
  display: none;
  font-size: 1.5rem;
  color: rgba(255,255,255,0.8);
  background: rgba(255,255,255,0);
  transition: color 0.2s;
  cursor: pointer;
  height: 100%;
  padding: 0 2rem;
  align-items: center;
}
header .nav-show-bar:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
}
header.height-40 .logo {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
}
header.height-40 .logo-svg-text {
  position: relative;
  line-height: 40px;
}
header.height-40 .logo-svg-span img {
  display: none;
}
header.height-120 {
  height: 120px;
}
header.height-120 .header-thumbtack {
  border-width: 2rem;
  border-bottom-left-radius: 2rem;
}
header.height-120 .header-thumbtack .fa-thumbtack {
  right: 6px;
  top: 6px;
  font-size: 1rem;
}
header.height-120 .logo {
  width: 133px;
  height: 100px;
  background-size: contain;
  border-radius: 1rem;
}
main {
  min-height: calc(100vh - 120px);
}
main > div {
  border-radius: 3px;
}
.bookmarks-content-item {
  display: none;
}
.bookmarks-content-item:target {
  display: block;
}
footer {
  height: 40px;
  background: rgba(0,0,0,0.459);
  color: #fff;
  font-family: Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}
/* PrismJS 1.21.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript&plugins=line-numbers */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

 code[class*="language-"],
 pre[class*="language-"] {
	 color: #ccc;
	 background: none;
	 font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	 /* font-size: 1em; */
	 font-size: 0.875rem;
	 text-align: left;
	 white-space: pre;
	 word-spacing: normal;
	 word-break: normal;
	 word-wrap: normal;
	 line-height: 1.5;
 
	 -moz-tab-size: 4;
	 -o-tab-size: 4;
	 tab-size: 4;
 
	 -webkit-hyphens: none;
	 -moz-hyphens: none;
	 -ms-hyphens: none;
	 hyphens: none;
 
 }
 
 /* Code blocks */
 pre[class*="language-"] {
	 padding: 1em;
	 margin: .5em 0;
	 overflow: auto;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
	 background: #2d2d2d;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
	 padding: .1em;
	 border-radius: .3em;
	 white-space: normal;
 }
 
 .token.comment,
 .token.block-comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
	 /* color: #999; */
	 color: #408a2e;
 }
 
 .token.punctuation {
	 color: #ccc;
 }
 
 .token.tag,
 .token.attr-name,
 .token.namespace,
 .token.deleted {
	 color: #e2777a;
 }
 
 .token.function-name {
	 color: #6196cc;
 }
 
 .token.boolean,
 .token.number,
 .token.function {
	 color: #f08d49;
 }
 
 .token.property,
 .token.class-name,
 .token.constant,
 .token.symbol {
	 color: #f8c555;
 }
 
 .token.selector,
 .token.important,
 .token.atrule,
 .token.keyword,
 .token.builtin {
	 color: #cc99cd;
 }
 
 .token.string,
 .token.char,
 .token.attr-value,
 .token.regex,
 .token.variable {
	 color: #7ec699;
 }
 
 .token.operator,
 .token.entity,
 .token.url {
	 color: #67cdcc;
 }
 
 .token.important,
 .token.bold {
	 font-weight: bold;
 }
 .token.italic {
	 font-style: italic;
 }
 
 .token.entity {
	 cursor: help;
 }
 
 .token.inserted {
	 color: green;
 }
 
 pre[class*="language-"].line-numbers {
	 position: relative;
	 padding-left: 3.8em;
	 counter-reset: linenumber;
 }
 
 pre[class*="language-"].line-numbers > code {
	 position: relative;
	 white-space: inherit;
 }
 
 .line-numbers .line-numbers-rows {
	 position: absolute;
	 pointer-events: none;
	 top: 0;
	 font-size: 100%;
	 left: -3.8em;
	 width: 3em; /* works for line-numbers below 1000 lines */
	 letter-spacing: -1px;
	 border-right: 1px solid #999;
 
	 -webkit-user-select: none;
	 -moz-user-select: none;
	 -ms-user-select: none;
	 user-select: none;
 
 }
 
	 .line-numbers-rows > span {
		 display: block;
		 counter-increment: linenumber;
	 }
 
		 .line-numbers-rows > span:before {
			 content: counter(linenumber);
			 color: #999;
			 display: block;
			 padding-right: 0.8em;
			 text-align: right;
		 }
 
 
@media only screen and (max-width: 1024px) {
  header nav {
    height: 100%;
    padding-left: 0 !important;
  }
  header nav .menu {
    position: absolute;
    top: 100%;
    right: -21px;
    background: #5453aa;
    box-shadow: 0px 0px 6px 2px rgba(255,255,255,0.5);
    transition: height 0.2s;
    height: 0;
    overflow: hidden;
  }
  header nav .menu > li {
    display: block !important;
    margin: 1rem;
  }
  header nav .menu > li > a {
    display: block;
  }
  header nav .menu.height-0 {
    box-shadow: none;
  }
  header .nav-show-bar {
    display: flex !important;
  }
}
@media only screen and (min-width: 1024px) {
  main .max-w-mian-size {
    max-width: 68rem;
  }
}
@media only screen and (min-width: 1920px) {
  main .max-w-mian-size {
    max-width: 85rem;
  }
}
.posts-div .post-item {
  box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.15);
  border-radius: 0.6rem;
  padding: 1rem;
  cursor: grab;
  position: relative;
  transition: all 0.2s;
  overflow: hidden;
  background: #fff;
}
.posts-div .post-item + .post-item {
  margin-top: 20px;
}
.posts-div .post-item:hover {
  color: #f96;
}
.posts-div .post-item:hover .post-item-title > a::before {
  width: 100%;
}
.posts-div .post-item .post-item-title > a {
  color: #06c;
  text-decoration: none;
  line-height: 2rem;
  padding-bottom: 0.25rem;
  font-weight: bold;
  position: relative;
}
.posts-div .post-item .post-item-title > a::before {
  content: '';
  position: absolute;
  bottom: 0;
  display: inline-block;
  width: 0;
  border-bottom: 2px solid #06c;
  transition: width 0.2s;
  border-radius: 1px;
}
.posts-div .post-item::before {
  content: '';
  position: absolute;
  border-color: #f96;
  border-style: solid;
  border-left-width: 3rem;
  border-bottom-width: 3rem;
  border-right: none;
  border-top: none;
  border-radius: 50%;
  right: -3rem;
  top: -3rem;
  transition: right 0.2s, top 0.2s;
}
.posts-div .post-item:hover::before {
  right: -1.5rem;
  top: -1.5rem;
}
article .content-div a:active {
  background-color: #005aff;
  color: #fff;
}
article .content-header {
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  background: #002e6f;
  opacity: 0.75;
  color: #fff;
}
article .data-layout-div {
  margin-right: -2rem;
}
article .data-layout-div .date-div {
  border-bottom-left-radius: 1.5rem;
  max-width: calc(100% - 2rem);
  background: #002e6f;
}
.content-toc-div {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}
.content-toc-div .article-toc-parent {
  position: sticky;
  top: 0;
  transition: top 0.2s;
  padding: 0.5rem 0;
  background: #fff;
  max-width: 20rem;
  box-shadow: -1px 1px 6px 0px rgba(0,0,0,0.3);
  border-bottom-left-radius: 0;
  border-radius: 0.3rem;
  opacity: 0.92;
}
.content-toc-div .article-toc-parent .article-toc-div {
  display: none;
  max-height: 500px;
  overflow: auto;
}
.content-toc-div .article-toc-parent .article-toc-div .toc-item > .toc-link {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  color: #36c;
  text-decoration: none;
  padding: 0.2rem 1rem;
  text-decoration: none;
  padding: 0.2rem 1rem;
  transition: background 0.2s, color 0.2s;
}
.content-toc-div .article-toc-parent .article-toc-div .toc-item > .toc-link:hover {
  background: #1976d2;
  color: #fff;
}
.content-toc-div .article-toc-parent .article-toc-div .toc > .toc-item > .toc-child > .toc-item > .toc-link {
  padding-left: 2rem;
  font-size: 0.85rem;
}
.content-toc-div .article-toc-parent .article-toc-div .toc > .toc-item > .toc-child > .toc-item > .toc-child > .toc-item > .toc-link {
  padding-left: 3rem;
  font-size: 0.75rem;
}
.content-toc-div .article-toc-parent .article-toc-div .toc > .toc-item > .toc-child > .toc-item > .toc-child > .toc-item > .toc-child > .toc-item > .toc-link {
  padding-left: 4rem;
}
.content-toc-div .article-toc-parent #circle-item {
  transform: translateX(0);
  fill: #fff;
  transition: transform 0.2s;
}
.content-toc-div .article-toc-parent.show-detail .article-toc-div {
  display: block;
}
.content-toc-div .article-toc-parent.show-detail #circle-item {
  transform: translateX(-320px);
  fill: #00aaf2;
}
header.height-40 + main .content-toc-div .article-toc-parent {
  top: 40px;
}
header.height-120 + main .content-toc-div .article-toc-parent {
  top: 120px !important;
}
header.static + main .content-toc-div .article-toc-parent {
  top: 0 !important;
}
header.static + main .content-toc-div .article-toc-parent.top-0 {
  top: 0 !important;
}
.article-title {
  position: sticky;
  top: 0;
  margin: 0 -1rem;
  padding-left: 2rem;
  background: rgba(0,0,0,0.35);
  color: #fff;
}
.article-title.static > div {
  display: none;
}
.category-item-list,
.category-item-list-child,
.tag-item-list {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}
.category-item-list-item,
.tag-item-list-item {
  display: inline-block;
}
.category-item-link {
  padding: 0 0.25rem;
}
.icon-svg {
  width: 1.2rem;
  height: 1.2rem;
}
.icon-svg-b {
  width: 2rem;
  height: 2rem;
}
.categories-div .category-item-link {
  text-decoration: none;
  padding: 0 0.25rem;
  background-image: linear-gradient(145deg, rgba(232,87,237,0.15) 0%, rgba(109,137,69,0.15) 100%), linear-gradient(75deg, #218ab8, #00f1b5);
  -webkit-background-clip: text;
  color: transparent;
}
.categories-div .category-item-link:hover {
  -webkit-background-clip: padding-box;
  color: #fff;
}
.tag-item-list-item {
  margin-right: 0.5rem;
  border-radius: 0.2rem;
}
.tag-item-list-item .tag-item-list-link {
  text-decoration: none;
  padding: 0 0.25rem;
  background-image: linear-gradient(145deg, rgba(232,87,237,0.15) 0%, rgba(109,137,69,0.15) 100%), linear-gradient(75deg, #218ab8, #00f1b5);
  -webkit-background-clip: text;
  color: transparent;
}
.tag-item-list-item .tag-item-list-link:hover {
  -webkit-background-clip: padding-box;
  color: #fff;
}
.bookmarks-title-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.bookmarks-title-item {
  margin: 1rem 1rem 0 1rem;
  background: #f2f2f2;
  position: relative;
  width: 200px;
  flex-grow: 1;
  text-align: center;
}
.bookmarks-title-item:last-child>a::after {
  content: 'New';
  font-size: 12px;
  display: inline-block;
  height: 14px;
  line-height: 14px;
  background: #f00;
  color: #fff;
  border-radius: 2px;
  padding: 0 2px;
  transform: scale(0.8);
}
