// post styl
article {
  a:active {
    background-color: #285c76;
    color: #fff;
  }
  .content-header {
    margin: 0 -1rem;
    margin-bottom: 1.5rem;
    padding: 0 2rem;
    background: white;
    border-bottom-left-radius: 1rem;
    // border-bottom-right-radius: 1rem;
    box-shadow: 6px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
  .data-layout-div {
    margin-right: -2rem;
    .date-div {
      border-bottom-right-radius: 1rem;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    }
  }
}
.content-toc-div {
  position: absolute;
  right: 0;
  top: 0;
  // top: 52px;
  height: 100%;
  .article-toc-parent {
    position: sticky;
    top: 0;
    transition: top 0.2s;
    padding: 1rem 0;
    background: white;
    max-width: 20rem;
    box-shadow: -1px 1px 6px 0px rgba(0, 0, 0, 0.3);
    border-bottom-left-radius: 0;
    border-radius: 0.3rem;
    opacity: 0.85;
    .article-toc-div {
      display: none;
      max-height: 500px;
      overflow: auto;
      .toc-item > .toc-link {
        white-space: nowrap;
        overflow: hidden;
        display: block;
        text-overflow: ellipsis;
        color: #3366CC;
        text-decoration: none;
        padding: 0.2rem 1rem;
        text-decoration: none;
        padding: 0.2rem 1rem;
        transition: background .2s, color .2s;
        &:hover {
          background: #1976d2;
          color: white;
        }
      }
      .toc > .toc-item > .toc-child > .toc-item {
        & > .toc-link  {
          padding-left: 2rem;
          font-size: 0.85rem;
        }
        & > .toc-child > .toc-item {
          & > .toc-link  {
            padding-left: 3rem;
            font-size: 0.75rem;
          }
          & > .toc-child > .toc-item {
            & > .toc-link  {
              padding-left: 4rem;
            }
          }
        }
      }
    }
    // & > div:first-child:before {
    //   content: '<'
    // }
    #circle-item {
      transform: translateX(0);
      fill: #fff;
      transition: transform .2s;
    }
    &.show-detail {
      .article-toc-div {
        display: block;
      }
      #circle-item {
        transform: translateX(-320px);
        fill: #00aaf2;
      }
    }
  }
}
header {
  &.height-40 + main {
    .content-toc-div .article-toc-parent {
      top: 40px;
    }
  }
  &.height-120 + main {
    .content-toc-div .article-toc-parent {
      top: 120px !important;
    }
  }
  &.static + main {
    .content-toc-div .article-toc-parent {
      top: 0 !important;
      // top: 36px !important;
    }
    .content-toc-div .article-toc-parent.top-0  {
      top: 0 !important;
    }
  }
}

.article-title {
  position: sticky;
  top: 0;
  margin: 0 -1rem;
  padding-left: 2rem;
  background: rgba(0, 0, 0, 0.35);
  color: white;
  &.static > div {
    display: none;
  }
}

.category-item-list, .category-item-list-child, .tag-item-list {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.category-item-list-item, .tag-item-list-item {
  display: inline-block;
}

.category-item-list-child::before {
  content: '>';
  margin: 0 0.5rem;
}
.icon-svg {
  width: 1.2rem;
  height: 1.2rem;
}
.icon-svg-b {
  width: 2rem;
  height: 2rem;
}
.category-item-list-link {
  color: rgb(63 135 166);
}
.tag-item-list-item {
  padding: 0 0.5rem;
  background: rgb(246 157 60);
  margin-right: 1rem;
  border-radius: 0.2rem;
  .tag-item-list-link {
    color: white;
  }
}
