// 公共样式
@import './_common/index'

html {
  font-size: 16px;
}
body {
  background-color: #F2F2F2;
  line-height: 1.5;
}
.content-main-div {
  header, main, footer {
  }
}
article img {
  max-width: 100%;
}
@import '_partial/header'
@import '_partial/main'
@import '_partial/footer'