// 公共样式
@import './_common/index'

html {
  font-size: 16px;
}
body {
  background-color: #F2F2F2;
  // font-family:"Microsoft YaHei";
  line-height: 1.5;
  color: #595959;
  font-family: -apple-system,BlinkMacSystemFont,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Segoe UI","PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-feature-settings: "tnum";
  font-variant: tabular-nums;
}
.content-main-div {
  header, main, footer {
  }
}
article img {
  max-width: 100%;
}
figure.highlight.plain {
    overflow: auto;
}
@import '_partial/header'
@import '_partial/main'
@import '_partial/footer'
// @import '_partial/highlight'
@import '_common/prism.css'
@import '_common/media'

// page
@import '_page/index'
