// header style
header {
  background: #1976d2;
  color: #fff;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
  transition: height .2s;
  .header-thumbtack {
    right: 0;
    top: 0;
    border-left-width: 1.5rem;
    border-bottom-width: 1.2rem;
    border-style: solid;
    border-color: white;
    border-top: none;
    border-right: none;
    background: white;
    border-bottom-left-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-width 0.2s, border-bottom-left-radius .2s;
    &.active {
      color: #00aaf2;
    }
    &:hover {
      border-color: #00aaf2;
      color: white;
      .fa-thumbtack {
        transform: rotate(45deg);
      }
    }
    .fa-thumbtack {
      // transform: rotate(45deg);
      right: 4px;
      top: 4px;
      font-size: .8rem;
      transition: all .2s;
    }
  }
  nav ul.menu>li {
    display: inline-block;
    // padding: 0 1rem;
    position: relative;
    .nav-a {
      color: rgba(255 255 255 0.8);
      font-size: 1rem;
      padding: 0 1rem;
      text-decoration: none;
      transition: color .2s;
      word-break: normal;
      &::before {
        content: '';
        width: 0;
        border-bottom: 2px solid white;
        position: absolute;
        left: 0;
        bottom: 0;
        border-radius: 2px;
        transition: width .2s;
      }
    }
    &.active .nav-a {
      color: #fff;
      font-weight: bold;
      &::before {
        width: 100%;
      }
    }
    &:hover .nav-a {
      color: #fff;
      &::before {
        width: 100%;
      }
    }
  }
  .logo {
    background-image: url(/images/blog-LOGO.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: width .2s, height .2s, border-radius .2s;
  }
  .logo-text {
    text-decoration: none;
    font-style: italic;
    font-size: 0.8rem;
    font-weight: bold;
    font-family: Microsoft Yahei;
    text-shadow: 5px 4px 4px rgba(255 255 255 0.6);
  }
  .nav-show-bar {
    display: none;
    font-size: 1.5rem;
    color: rgba(255,255,255,0.8);
    background: rgba(255,255,255, 0);
    transition: color 0.2s;
    cursor: pointer;
    height: 100%;
    padding: 0 2rem;
    align-items: center;
    &:hover {
      color: rgba(255,255,255, 1);
      background: rgba(255,255,255, 0.2);
    }
  }
}
header.height-40 .logo {
  width: 40px;
  height: 40px;
  background-size: cover;
  border-radius: 50%;
}
header.height-120,
// header:hover {
{
  height: 120px;
  .header-thumbtack {
    border-width: 2rem;
    border-bottom-left-radius: 2rem;
    .fa-thumbtack {
      right: 6px;
      top: 6px;
      font-size: 1rem;
    }
  }
  .logo {
    // width: 120px;
    // height: 90px;
    width: 133px;
    height: 100px;
    background-size: contain;
    border-radius: 1rem;
  }
}
