// main style
main > div {
  padding: 20px;
  border-radius: 3px;
  box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
}
header.height-120 + main > div {
  min-height: calc(100vh - 240px);
}
header.height-60 + main > div {
  min-height: calc(100vh - 180px);
}
header.height-40 + main > div {
  min-height: calc(100vh - 160px);
}