// main style
main > div {
  padding: 20px;
}
header.height-120 + main > div {
  min-height: calc(100vh - 220px);
}
header.height-60 + main > div {
  min-height: calc(100vh - 160px);
}
header.height-40 + main > div {
  min-height: calc(100vh - 140px);
}