// main style
main > div {
  // padding: 20px;
  border-radius: 3px;
  // box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.2);
  // background-color: white;
  // background-color: #F2F2F2;
  // box-shadow: inset 2px 2px 8px 1px rgba(0,0,0,0.2);
}
header.height-120 + main > div {
  // min-height: calc(100vh - 240px);
  min-height: calc(100vh - 232px);
}
header.height-60 + main > div {
  // min-height: calc(100vh - 180px);
  min-height: calc(100vh - 172px);
}
header.height-40 + main > div {
  // min-height: calc(100vh - 160px);
  min-height: calc(100vh - 152px);
}

.bookmarks-content-item {
  display: none;
  &:target {
    display: block;
  }
}