<footer class="max-w-mian-size margin-center pd--1 color-black-1 font--75 bg-gray-type1">
  <div class="display-flex item-center max-w-mian-size margin-center height-100-">
    <p class="mg-0 nowrap">© 2020 dzd, Inc.</p>
  </div>
</footer>