<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title><%= config.title %></title>
  <%- css('css/normalize.css') %>
  <%- css('css/style.css') %>
  <script src="https://kit.fontawesome.com/895a2e3e9e.js" crossorigin="anonymous"></script>
</head>