<header>
  <div>
    <a href="<%- url_for() %>"><%= config.title%></a>
  </div>
  <nav>
    <ul>
      <% for (name in theme.menu) { %>
      <li>
        <a href="<%- url_for(theme.menu[name])%>"><%= name %></a>
      </li>
      <% } %>
    </ul>
  </nav>
  here is header.
</header>